html, body {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    font-family: 'Arial';
    background-color: #fefefe;
}

#header {
    width: 100%;
    text-align: center;
    height: 50px;
    top: 0px;
    position: absolute;
    background-color: #ababab;
    border-bottom: 2px solid #9a9a9a;
    padding-bottom: 10px;
}

#logout-link a{
    color: #efefef;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    left: 250px;
    top: -50px;
}

#logout-link a:hover {
    color: #fff; 
    text-decoration: underline;
}

#container {
    margin: 0 auto;
    width: 900px;
    border: 1px solid #000;
    height: auto;
    text-align: center;
    position: relative;
    top: 100px;
    margin-bottom: 40px;
}

#city-table {
    margin: 0 auto;
    padding-top: 10px;
}

#content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    position: relative;
    top: -21px;
}

#content-header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #cdcdcd;
    height: 40px;
    border-bottom: 1px solid #000;
}

#content-header h4 {
    padding-top: 10px;   
}